.main_div2{
    background-color: #ebcfcf;
    color: white;
    height: 69vh;
    width: 90vw;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 15px;
    border-radius: 14px;
    border: 2px solid white;
}